@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}
body {
    margin: 0;
    background-color: #1B244A;
    text-align: center;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: space-around;
    font-family:'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #EEEEEE;
}

button {
    background: none;
    color: #EEEEEE;
}
